      
      {% load static %}
      {% load crispy_forms_tags %}
      <link rel="stylesheet" href="{% static 'css/dash.css'%}">
      <div class="mt-sm-5 d-flex flex-column align-items-center bg-white p-2 margin-top" style="width:100%;">
          <div class="edit-content pt-5 ">
            <h3 class="edit-header text-center">Edit Profile</h3>
            <form method="POST" id="edit-form" action="{% url 'setting' pk=request.user.pk %}" style="height: 100%;" enctype="multipart/form-data">
              {% csrf_token %}
            {{form|crispy}}
        <div class="form-group d-flex justify-content-center" style="width: 100%;">
          <button type="submit" class="text-center btn btn-success">Update</button>
        </div>
       
            <!-- <small id="helpId" class="text-muted">Help text</small> -->
            <!-- <input type="submit" value="submit"> -->
           
          </div>
          </form>
          <!-- {{form.as_p}} -->
      </div>
<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <!-- <script>
    $("#edit-form").submit((e)=>{
    
    // let formData = new FormData(this);
    e.preventDefault()
      $(".frame").show()
    
    url= $("#edit-form").attr("action")
    $.ajax({
      url:url,
      method:"POST",
      success:function(data){
        if (data.error==false){
          alert(data.message)
        }
      }
    })
    return false;
      
    })
    </script> -->