{% extends 'home/base.html'%} 
{% load static from staticfiles%}
{%block content%}
<div
  class="site-blocks-cover"
  style="background-image: url(../static/images/hero_bg_1.jpg);"
  data-aos="fade"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row row-custom hero-text">
      <div class="col-md-10">
        <h1 class="mb-2 text-black text-sentence w-75">
          Get that task done as fast as
          <span class="font-weight-bold">A snap of your fingers</span>
        </h1>
        <div class="job-search">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-5">
          <a href="{% url 'jobCreate' %}"><button type="submit" class="btn btn-gold btn-block">Hire Now</button></a>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-6" data-aos="fade">
        <h2 class="text-black">Why Smart<strong>centa</strong></h2>
      </div>
    </div>
    <div class="row hosting">
      <div
        class="col-md-6 col-lg-4 mb-5 mb-lg-4"
        data-aos="fade"
        data-aos-delay="100"
      >
        <div class="unit-3 h-100 bg-white">
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <svg
                class="unit-3-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="59px"
                height="68px"
              >
                <path
                  fill-rule="evenodd"
                  stroke-width="2px"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  fill="none"
                  d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"
                ></path>
              </svg>
              <span class="unit-3-icon icon fl-bigmug-line-portfolio23"></span>
            </div>
            <h2 class="h5">Payment Protection, and Money Back Guaranteed</h2>
          </div>
          <div class="unit-3-body">
            <p>
              Smartcenta ensures payment security by keeping your payments safe and giving you peace of mind as funds are only released to our in-house freelancers once you are pleased with and approve of the work you get, therefore, you can be assured your funds are safe with 100% money back guarantee in clear situations where what was ordered was not delivered.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-5 mb-lg-4"
        data-aos="fade"
        data-aos-delay="200"
      >
        <div class="unit-3 h-100 bg-white">
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <svg
                class="unit-3-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="59px"
                height="68px"
              >
                <path
                  fill-rule="evenodd"
                  stroke-width="2px"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  fill="none"
                  d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"
                ></path></svg>
                <span class="unit-3-icon icon fl-bigmug-line-airplane86"></span>
            </div>
            <h2 class="h5">Know The Price Upfront</h2>
          </div>
          <div class="unit-3-body">
            <p>
              With transparency being one of our core values, Smartcenta ensures openness in pricing structure. Find any service within minutes and know exactly what you’ll pay. No hourly rates, just a fixed price. No hidden charges and extra fees, you know exactly how much you are paying for the service being rendered.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-5 mb-lg-4"
        data-aos="fade"
        data-aos-delay="300"
      >
        <div class="unit-3 h-100 bg-white">
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <svg
                class="unit-3-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="59px"
                height="68px"
              >
                <path
                  fill-rule="evenodd"
                  stroke-width="2px"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  fill="none"
                  d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"
                ></path></svg><span class="unit-3-icon icon fl-bigmug-line-checkmark86"></span>
            </div>
            <h2 class="h5">Quality at Low cost</h2>
          </div>
          <div class="unit-3-body">
            <p>
              Smartcenta specializes in quality output of international standard at affordable rates. We pride ourselves in providing high quality and premium services at affordable and pocket-friendly rates
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-4 mb-5 mb-lg-4"
        data-aos="fade"
        data-aos-delay="400"
      >
        <div class="unit-3 h-100 bg-white">
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <svg
                class="unit-3-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="59px"
                height="68px"
              >
                <path
                  fill-rule="evenodd"
                  stroke-width="2px"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  fill="none"
                  d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"
                ></path></svg><span class="unit-3-icon icon fl-bigmug-line-big104 "></span>
            </div>
            <h2 class="h5">Tracking</h2>
          </div>
          <div class="unit-3-body">
            <p>
              Every order has a unique Transaction Reference; as a client you get constant status update on your order and by signing up and confirming your email address, you track all your orders in one place with the unique Transaction Reference.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-5 mb-lg-4"
        data-aos="fade"
        data-aos-delay="500"
      >
        <div class="unit-3 h-100 bg-white">
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <svg
                class="unit-3-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="59px"
                height="68px"
              >
                <path
                  fill-rule="evenodd"
                  stroke-width="2px"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  fill="none"
                  d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"
                ></path></svg><span class="unit-3-icon icon fl-bigmug-line-clipboard68"></span>
            </div>
            <h2 class="h5">Customize your work</h2>
          </div>
          <div class="unit-3-body">
            <p>
              In order to meet the varying needs of our numerous customers; Smartcenta’s services are particularly characterized by quality as well as opportunity for customization to suit the specific needs and requirements of every customer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section block-4 bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-6" data-aos="fade">
        <h2 class="text-black">Happy Employers</h2>
      </div>
    </div>

    <div class="nonloop-block-4 owl-carousel" data-aos="fade">
      {% for test in testimony %}
        <div class="item col-md-8 mx-auto">
        <div class="block-38 text-center bg-white p-4">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{{test.image.url}}" alt="Image placeholder" />
              <h3 class="block-38-heading">{{test.name}}</h3>
              <p class="block-38-subheading">{{test.company}}</p>
            </div>
            <div class="block-38-body">
              <p>
               {{test.testimony|safe}}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock%}
