<div class="col-md-12 subc" id="subc"><h4>Sub-Category</h4></div>
<div class="form-group">
  <select class="form-control jo_cate" name="" id="">
    <option selected disabled>Choose a Category</option>
    {% for sub in subcat %} {% if sub.quote is False %}
    <option value="{{ sub.id }}"
      >{{ sub.name }}<small> {{ sub.pricing }}</small></option
    >
    {% else %}
    <option value="{{ sub.id }}">{{ sub.name }}</option>
    {% endif %} {% endfor %}
  </select>
</div>
<script>
  $(".jo_cate")
    .unbind()
    .change(function(e) {
      $("#load_deadline").hide()
      $(".totals").hide()
      $(".pay").hide()
      var url = "/Job/deadline/";
      var sub_cat = $(this).val();
      // console.log(sub_cat);
      $.ajax({
        url: url,
        data: {
          sub_cat: sub_cat
        },
        success: function(data) {
          if (data==="quote"){
             $(".quote").show();            
            $("#load_sub").hide();
            $("#load_sub2").hide()
            $(".pay").hide()
            $(".totals").hide()
          }
          else{
            $(".quote").hide();
            $(".ded-form").show();
            $(".ded-form").html(data);
          }
          
          $("#coupondiv").hide()
          $("#load_sub").show();
          $("#load_sub1").load(location.href + " #load_sub1");
        }
      });
    });
</script>
