<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./dash.css">
  </head>
  <body>
      <div class="container-fluid dash-back" >

        <div class="container col-md-12">
            <div class="row">
              <div class="sidenav col-md-2 d-flex flex-column align-items-center p-5" style="height: 100vh; background:#E7E8EB20;">

<div class="prof-img">
  <img class="img-fluid img-thumbnail" src="../../assets/images/person_1.jpg" alt="" srcset="">
  <p class="text-center text-white">Samantha Chan</p>
  <hr class="">
</div>

<div class="panels" style="width:100%; height: 30%; border-bottom: 1px solid rgba(17, 17, 19, 0.125)">
  <div class="text-center das pt-2 pb-3" style=" border-bottom: 1px solid white;">
    <li><a href="#dashboard">Dashboard</a></li>
    
  </div>
  <div class="text-center das pt-2 pb-3" style=" border-bottom: 1px solid white;">
      <li><a href="#dashboard">Management</a></li>
      
  </div>
  <div class="text-center das pt-2 pb-3" style=" border-bottom: 1px solid white;">
      <li><a href="#dashboard">FAQ</a></li>
      
  </div>
</div>

</div>
                <div class="col-md-5 me">
                    <!-- <div class="d-flex justify-content-start align-start-end pt-2">
                        <button class="shadow add-buttons"><i class="fa fa-bars"></i></button>
                    </div> -->
                  <div class=" d-flex flex-column contains align-items-start pt-lg-x">
                      
                    <div class="segment">
      
                      <div class="name">
                        <h3 >Hi Samantha</h3>
                      </div>
      
                      <div class="p">
                          <p > welcome back to your workspace we really miss you.</p> 
                      </div>
      
                      <div class="">
                          <div class="input-group position-relative p-lg-2 search">
                              <i class="fa fa-search pt-2 pr-2 pl-2"></i>
                              <input class="p-2 phones" type="text" placeholder="Search for Tasks project..." name="project" id="project">
                          </div>
      
      
                      </div>
                      <div class="proj-icon pt-2  pt-lg-5">
                        <h4 >Project <span><small>(89)</small></span></h4>
                        <div class=" boxes d-flex flex-wrap justify-content-between">
                          <div class="shadow box d-flex justify-content-center align-items-center"><h6>PD</h6></div>
                          <div class="shadow box d-flex justify-content-center align-items-center"><h6>PD</h6></div>
                          <div class="shadow box d-flex justify-content-center align-items-center"><h6>PD</h6></div>
                          <div class="shadow box d-flex justify-content-center align-items-center"><h6>PD</h6></div>
                          <div class="shadow box d-flex justify-content-center align-items-center"><h6>PD</h6></div>
                          <div class="shadow boxs d-flex justify-content-center align-items-center"><h6>8+</h6></div>
                          
                        </div> 
                      </div>
                      <div class="add-new proj-icon pt-2  pt-lg-5">
                          <h4 >News Board</h4>

                      </div>
                    </div>
                    
                    
                  </div>
      
                </div>
                <div class="col-md-5 tasks">
                    <div class="white-back d-flex flex-column align-items-start justify-content-start pt-lg-x ">
                      
                        <div class="segment2">
                          <div class="top-bar d-flex justify-content-between pt-2">
                            <h3>Web Development</h3>
                            <p>Welcome <small>Adams</small></p>
                          </div>
                          <div class="describe">
                            <p>Design a website for ABC company</p>
                          </div>

                          <div class="activities">
                            <div class="heads d-flex justify-content-between pt-5">
                              <h4>Activities</h4>
                              <p>Status</p>
                              
                            </div>
                            <hr class="p-0 m-1">
                            <div class="jobs-div d-flex flex-column">
                                  <div class="d-flex jobs justify-content-between">
                                      
                                      <p> <span class="text-success pt-2 fa fa-check-circle pr-3"></span> Project handled by Designer</p>
                                      <div class="p-1 alert alert-success" role="alert">
                                       success
                                      </div>
                                  </div>
                                  <div class="d-flex jobs justify-content-between">
                                      
                                      <p> <span class="text-success pt-2 fa fa-check-circle pr-3"></span> Project handled by Designer</p>
                                      <div class="p-1 alert alert-success" role="alert">
                                       success
                                      </div>
                                  </div>
                                  <div class="d-flex jobs justify-content-between">
                                      
                                      <p> <span class="text-success pt-2 fa fa-check-circle pr-3"></span> Project handled by Designer</p>
                                      <div class="p-1 alert alert-success" role="alert">
                                       success
                                      </div>
                                  </div>
                                  <div class="d-flex jobs justify-content-between">
                                     
                                      <p> <span class="text-warning pt-2 fa fa-spinner pr-3"></span> Project handled by Designer</p>
                                      <div class="p-1 alert alert-warning" role="alert">
                                       In progress
                                      </div>
                                  </div>
                                  <div class="d-flex jobs justify-content-between">
                                     
                                      <p> <span class="text-warning pt-2 fa fa-spinner pr-3"></span> Project handled by Designer</p>
                                      <div class="p-1 alert alert-warning" role="alert">
                                       In progress
                                      </div>
                                  </div>
                                  <div class="d-flex jobs justify-content-between">
                                     
                                      <p> <span class="text-secondary pt-2 fa fa-pause-circle pr-3"></span> Project handled by Designer</p>
                                      <div class="p-1 alert alert-secondary" role="alert">
                                       Waiting
                                      </div>
                                  </div>
                            </div>
                          </div>

                        </div> 
                        <div class="d-flex justify-content-end align-items-end p-4" style="width: 100%; height: 100%;">
                          <button class="shadow add-button">+</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>
       
        
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>