@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');

.dash-back{
    background-color: #3B945E;
}
body{
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
    /* overflow-y: hidden; */
}
.tasks{
    height:100%;
    width:100%;
    margin: auto;
    /* border: 1px solid white;; */
}
.me{
    height: 100%;
    width: 100%;
    /* border: 1px solid orange; */
}
.contains{
    /* border: 1px solid white; */
    height: 100%;
    /* padding: 5rem !important; */
}


.name h3{
    color: #FDFDFE;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.segment{
    /* border: 1px solid red; */
    max-width: 60%;
    margin: 0 auto;
}
.segment2{
    /* border: 1px solid red; */
    max-width: 100%;
    margin: 0 auto;
    width: 90%;
}
.p p{
    color:rgb(177, 183, 201);
 
    word-spacing: 1px;

}
.sidenav{
    display: none !important;
}
@media only screen and (min-width:1200px) {

    .p p{
     
    }
    .container{
        max-width: 1920px;
    }
    body{
        /* font-family: 'Montserrat', sans-serif; */
        /* overflow-y: hidden; */
    }
    .sidenav {
        display: block !important;
    }
    .tasks{
        height: 100vh;
    }
}
.phones{
    width: 60%;
    border: 0px;
    background: transparent;
    /* margin-left: 9rem !important; */

}
.search{
    background-color: #E7E8EB20;
    border-radius: 20px;
    width: 100%;
}
.search i{
    color: #E7E8EB;
    font-size:1.5rem
}
.search input{
    width: 85%;
}
.search input::placeholder{
    color: #E7E8EB;
}
.proj-icon h4, .proj-icon small, .proj-icon h6{
    color: #E7E8EB;
    font-weight: bold;
}
.proj-icon small{
    color: rgb(243, 213, 149);
    font-size: 0.7rem;
}
.box{
    background-color: orange;
    width: 100px;
    height: 100px;
    margin: 1rem 1rem 0 0;
    border-radius: 20px;
    /* border: 4px solid white; */
}
.boxs{
    background-color: rgb(243, 213, 149);
    width: 100px;
    height: 100px;
    margin: 1rem 2rem 0 0 !important;
    border-radius: 20px;
    /* border: 4px solid white; */
}
.white-back{
    background-color:#FDFDFE ;
    width: 90%;
    margin: 1% auto;
    height: 98%;
    border-radius: 10px;
}
.top-bar h3{
    font-weight: bold;
    color: #2A2E44;
    font-family: 'Nunito', sans-serif;
}
.heads h4{
    font-weight: bold;
}
.jobs{
    width: 100%;
}
.jobs span{
    font-size: 1.5rem;
}
.add-button{
    background-color: #3B945E;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    color: #E7E8EB;
    font-size: 1.5rem;
}
.add-buttons{
    background-color: #E7E8EB20;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    color: #E7E8EB;
    font-size: 1.5rem;
}
.jobs .alert{
   position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    width:120px;
    border-radius: .75rem;
    text-align: center;
}
.das a{
    color: #E7E8EB;

}
.das li{
    list-style: none;
}
.area{
    background: #3B945E;
    width: 100%;
    height:100%;


}

.cube {
    position: absolute;
    top: 80%;
    left: 45%;
    width: 10px;
    height: 10px;
    border: solid 1px #fff;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
            animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #fff;
  }
  .cube:nth-child(2) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 25%;
    top: 40%;
  }
  .cube:nth-child(3) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 75%;
    top: 50%;
  }
  .cube:nth-child(4) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 90%;
    top: 10%;
  }
  .cube:nth-child(5) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    left: 10%;
    top: 85%;
  }
  .cube:nth-child(6) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    left: 60%;
    top: 60%;
  }
  .cube:nth-child(7) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 50%;
    top: 20%;
  }
  .cube:nth-child(8) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 80%;
    top: 10%;
  }
  .cube:nth-child(9) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 20%;
    top: 70%;
  }
  .cube:nth-child(10) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 70%;
    top: 70%;
  }
  .cube:nth-child(11) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 50%;
    top: 50%;
  }
  @-webkit-keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(10) rotate(960deg) translate(-50%, -50%);
              transform: scale(10) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(10) rotate(960deg) translate(-50%, -50%);
              transform: scale(10) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  .joo{
    width: 200px; padding:5px; background:#3B945E; cursor: pointer; border:1px solid grey; color:white
  }
  .frame {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    width: 100%;
    height: 100%;
    /* margin-top: -200px; */
    margin-left: -16px;
    border-radius: 2px;
    background: #00000050;
    color: #3B945E;
  }

  .center {
    position: absolute;
    width: 220px;
    height: 220px;
    top:30%;
    left: 40%;
  }

  .dot-1 {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    top: 95px;
    left: 95px;
    background: #3B945E;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }

  .dot-2 {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 80px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }

  .dot-3 {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 65px;
    background: #3B945E;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }

  @-webkit-keyframes jump-jump-1 {
    0%, 70% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @keyframes jump-jump-1 {
    0%, 70% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes jump-jump-2 {
    0%, 40% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes jump-jump-2 {
    0%, 40% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes jump-jump-3 {
    0%, 10% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes jump-jump-3 {
    0%, 10% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @media (max-width:767px){
    .segment {
      max-width: 100%;
      }

  .box{
    margin:1rem 0 0 0;
  }
  .area{
    height:100%;
  }
  .tasks{
    height: 100%;
  }
  .res-nav{
    width: 100%;
    height: 50px;
    background-color: #E7E8EB20;
    position: fixed;
    /* top: 0; */
  }
  .box{
    background-color: orange;
    width: 50px;
    height: 50px;
    margin: 1rem 1rem 0 0;
    border-radius: 2px;
    /* border: 4px solid white; */
}
.white-back{

  width: 100%;
  margin: 3% auto;
  height: 100%;
}
  }
  @media (min-width:768px){
  .pt-lg-x{
      padding-top: 7rem !important;
    }
    .sidenav {
      display: block !important;
  }
  .panels a{
    font-size:0.8rem;
  }
  .res-nav{
  display:none;
}
}
@media (max-width:347px){

.search i{
    color: #E7E8EB;
    font-size:1.2rem
}
.search input{
    width: 85%;
}
.search input::placeholder{
    color: #E7E8EB;
}
}
.icons{
  border:2px solid orange;
  text-align: center;
}